@import "tailwindcss";

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #facc15; 
    border-radius: 10px;
    outline: 1px solid white;
    outline-offset: -3px;
}
  
*::-webkit-scrollbar-track {
    background-color: #fef9c3; 
}
  